# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
env/
.venv/

# Django
db.sqlite3
*.log
media/

# IDEs
.vscode/
.idea/

# OS
.DS_Store

# Docs 
docs/_build/doctrees/
docs/_build/html/_static/
docs/_build/html/searchindex.js
docs/_build/html/objects.inv